.CodeMirror {
    font-size: 0.8em;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.CodeMirror pre {
    box-shadow: none;
}
#main_content .bm.source {
    display: block;
    width: 100%;
}